:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.detail-container {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #2a9d8f;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.detail-container button {
  margin-top: 20px;
  align-items: center;
}

.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2em;
}
